[Telegram]
Token = 0000000000:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AccessCodes = firstwhitelistcode,secondwhitelistcode
RateLimitTime = 3600
GeneralRateLimit = 60
ReplyToMessage = False

[OpenAI]
SecretKey = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ChatModel = gpt-3.5-turbo-0125
ChatModelPromptPrice = 0.0015
ChatModelCompletionPrice = 0.002
Temperature = 0.7
MaxTokens = 3997
MinLengthTokens = 100
SystemMessage = You are a helpful assistant named Sir Chat-a-lot, who answers in a style of a knight in the middle ages.
EndUserID = True
Moderation = False
Vision = False
ImageSize = 512
DeleteImageAfterAnswer = False
ImageDescriptionOnDelete = False
FunctionCalling = True
SummarizeTooLong = False

[ImageGeneration]
Engine = dalle
APIKey = ******
Model = dall-e-3
RateLimitCount = 16
RateLimitTime = 3600
BasePrice = 0.04

[AudioTranscript]
Engine = whisper
AudioModel = whisper-1
AudioModelPrice = 0.006
AudioFormat = mp3
TranscribeOnly = False

[Web]
SearchEngine = google
APIKey = ******
CSEID = ******
SearchResults = 5
UrlOpen = True
URLSummary = True
TrimLength = 3000

[Files]
Enabled = True
MaxFileSizeMB = 150

[Embeddings]
SecretKey = ******
Model = text-embedding-3-small

[Logging]
LogLevel = INFO
