[Telegram]
Token = 123456789:ABCDEFGHKLMNOPQRSTUVWXYZ
AccessCodes = myaccesscode
GeneralRateLimit = 60
RateLimitTime = 3600
TextEngine = YandexGPT
SpeechEngine = OpenAI
ReplyToMessage = False

[YandexGPT]
SecretKey=<secretkey>
CatalogID=<catalogid>
ChatModel=yandexgpt-lite/latest
Temperature=0.7
MaxTokens=1500
SystemMessage=You are a smart AI assistant named Sir Chat-a-lot, who communicates with users through the Telegram messenger.
SummarizeTooLong = False

[ImageGeneration]
Engine = yandex
APIKey = <secretkey>
ImageGenModel = yandex-art/latest
CatalogID=<catalogid>
RateLimitCount = 5
RateLimitTime = 3600

[AudioTranscript]
Engine = whisper
APIKey = *****
AudioModel = whisper-1
AudioModelPrice = 0.006
AudioFormat = mp3
TranscribeOnly = True
